---
import circulationThumbnail from "../images/Circulation_Thumbnail.png";
import gameEngineThumbnail from "../images/GameEngine_thumbnail.png";
import bloomThumbnail from "../images/Bloom-web_thumbnail.jpeg";
import paintWarThumbnail from "../images/PaintWar_thumbnail.png";
import outlawThumbnail from "../images/Zodiac_thumbnail.png";
import ecologyThumbnail from "../images/Ecology_thumbnail.png";

import { Image } from "astro:assets";
import Disclosure from "../components/disclosure/Disclosure.astro";
import Link from "../components/link/Link.astro";
---

<div class="project-experience flex flex-wrap gap-4 justify-center">
  <Disclosure
    tag="Design thinking"
    title="Enhance Engagement for Ecology Solution"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      This project involved working closely with Ecology Action in Austin,
      Texas, to boost community engagement with the park despite a range of
      practical constraints. We conducted in-depth user interviews, many field
      visits, and empathy sessions with key stakeholders to deeply understand
      their needs and challenges. Using design thinking methods, our team
      generated and prototyped creative solutions tailored to the client's
      needs, ensuring our recommendations were both innovative and grounded in
      reality.
      <br />
      <br />
      <Link
        className="inline-flex"
        href="https://utstudent.my.canva.site/enhance-engagement-for-ecology-solution"
        newTab
        underline>View case study</Link
      >
    </p>
    <Image
      format="png"
      class="rounded-[1.75rem] m-1 object-cover"
      src={ecologyThumbnail}
      alt="Enhance Engagement for Ecology Solution project thumbnail"
      width={500}
    />
  </Disclosure>
  <Disclosure
    tag="Web"
    title="Bloom.co Tea Website"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      Bloom Co. Tea is a UX-driven concept that reinvents the tea-buying
      experience by blending botanical storytelling with digital interaction.
      The brand invites Gen-Z customers to explore the origins, flavors, and
      rituals of artisanal teas through a visually rich interface and
      personalized recommendations. We aim to transform tea from a commodity for
      older generation into a curated ritual—creating delight for Gen-Z
      customers through elegant UX and meaningful content.
      <br />
      <br />
      Presentation link: <Link
        className="inline-flex"
        href="https://www.figma.com/deck/al0HIY4mxXvO71nXE3wvhV/Bloom-co.-Tea?node-id=1-25&t=5bJp7x1FheuLZYYK-1"
        newTab
        underline>Slides link</Link
      >
    </p>
    <Image
      format="jpeg"
      class="rounded-[1.75rem] m-1 object-cover"
      src={bloomThumbnail}
      alt="Bloom.co's project thumbnail"
      width={500}
    />
  </Disclosure>
  <Disclosure
    tag="C++"
    title="Game Engine"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      My first game engine designed and developed by myself from the scratch
      throughout the whole semester. This game engine is based on SFML as the
      graphic interface, and 0MQ to support the server-client connection. The
      Game engine includes all the basic funtionalities including Component
      based GameObjects, Multiplayer ablities, mutli-threaded processing,
      EventSytsem, Double Timeline supports and Duktape/Dukglue Scripting
      abilities. I have used this Game Engine to developed two games, one is a
      2D platformer and the second one is the Space Invader.
    </p>
    <Image
      format="jpeg"
      class="rounded-[1.75rem] m-1 object-cover"
      src={gameEngineThumbnail}
      alt="Game engine project's thumbnail"
      width={500}
    />
  </Disclosure>
  <Disclosure
    tag="Unity"
    title="Circulation Immersion"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      Circulation is an interactive virtual environment that allows an
      individual to accentuates our emotional connections with nature and
      visualize the reactions to our presence. I developed this project in a
      team with students from the Art and Design department at NC State
      University. We learn and used Unity and C# to script our interactive
      environment and used Maya to model and animate the animals in the
      environment. We also earned the honor to make to the annual game showcase
      at NC State University.
      <br />
      <br />
      Demo: <Link
        className="inline-flex"
        href="https://youtu.be/FC2Ra8QGNdo"
        newTab
        underline>Youtube link</Link
      >
      <br />
      Source code: <Link
        className="inline-flex"
        href="https://github.com/OrionQ/Circulation"
        newTab
        underline>Github link</Link
      >
    </p>
    <Image
      format="jpeg"
      class="rounded-[1.75rem] m-1 object-cover"
      src={circulationThumbnail}
      alt="Circulation project's thumbnail"
      width={500}
    />
  </Disclosure>
  <Disclosure
    tag="Unity"
    title="Outlaw Machinima"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      This is a machinima Project using Unity Engine. I worked this project with
      another student in the Art and Design Design department. Based on the true
      story of the infamous Zodiac Killer, we developed a imaginary scene that
      as a reporter(first-person-view), you accidentally ran into a suspicious
      house that might related to the zodiac killer. As you explored the house,
      you starts to discover the strangeness of the house.
      <br />
      <br />
      See this very fun short film: <Link
        className="inline-flex"
        href="https://drive.google.com/file/d/1_N_1_JqRP87eo3RTBeIsEq5y_kW_FXNt/view?usp=sharing"
        newTab
        underline>Google drive link</Link
      >
    </p>
    <Image
      format="jpeg"
      class="rounded-[1.75rem] m-1 object-cover"
      src={outlawThumbnail}
      alt="Outlaw Machinima project's thumbnail"
      width={500}
    />
  </Disclosure>
</div>
