---
import circulationThumbnail from "../images/Circulation_Thumbnail.png";
import gameEngineThumbnail from "../images/GameEngine_thumbnail.png";
import iTrustThumbnail from "../images/iTrust_thumbnail.png";
import paintWarThumbnail from "../images/PaintWar_thumbnail.png";
import outlawThumbnail from "../images/Zodiac_thumbnail.png";

import { Image } from "astro:assets";
import Disclosure from "../components/disclosure/Disclosure.astro";
import Link from "../components/link/Link.astro";
---

<div class="project-experience flex flex-wrap gap-4 justify-center">
  <Disclosure
    tag="C++"
    title="Game Engine"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      My first game engine designed and developed by myself from the scratch
      throughout the whole semester. This game engine is based on SFML as the
      graphic interface, and 0MQ to support the server-client connection. The
      Game engine includes all the basic funtionalities including Component
      based GameObjects, Multiplayer ablities, mutli-threaded processing,
      EventSytsem, Double Timeline supports and Duktape/Dukglue Scripting
      abilities. I have used this Game Engine to developed two games, one is a
      2D platformer and the second one is the Space Invader.
    </p>
    <Image
      class="rounded-2xl m-1 object-cover"
      src={gameEngineThumbnail}
      alt="Game engine project's thumbnail"
      width={250}
    />
  </Disclosure>
  <Disclosure
    tag="Unity"
    title="Circulation Immersion"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      Circulation is an interactive virtual environment that allows an
      individual to accentuates our emotional connections with nature and
      visualize the reactions to our presence. I developed this project in a
      team with students from the Art and Design department at NC State
      University. We learn and used Unity and C# to script our interactive
      environment and used Maya to model and animate the animals in the
      environment. We also earned the honor to make to the annual game showcase
      at NC State University.
      <br />
      <br />
      Demo: <Link
        className="inline-flex"
        href="https://youtu.be/FC2Ra8QGNdo"
        newTab
        underline>Youtube link</Link
      >
      <br />
      Source code: <Link
        className="inline-flex"
        href="https://github.com/OrionQ/Circulation"
        newTab
        underline>Github link</Link
      >
    </p>
    <Image
      class="rounded-2xl m-1 object-cover"
      src={circulationThumbnail}
      alt="Circulation project's thumbnail"
      width={250}
    />
  </Disclosure>
  <Disclosure
    tag="Web"
    title="iTrust Medical Web Portal"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      This is a medical portal for the hospital and users are allowed to login
      with their credentials. We integrated 4 more use cases to the protal that
      read in a list of individuals&apos; data and calculate the infection rate.
      I was focusing on the testing and debugging, and we learned to implement
      and to utilize testing automation with Selenium and Cucumber. To acheive
      the functionality of the web app, and I was learning what each part of
      code was responsible and try to fix all the bugs. Meanwhile, since it is a
      team project, I also need to manage and coordinate with other tema members
      virtually to accomplish the result.
    </p>
    <Image
      class="rounded-2xl m-1 object-cover"
      src={iTrustThumbnail}
      alt="iTrust project's thumbnail"
      width={250}
    />
  </Disclosure>
  <Disclosure
    tag="Unity"
    title="Paint War Demo Game"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      Paint War is a game that allows two players to catch and bounce paintballs
      to each other, and if the ball splashed on the edge of the screen with
      enough amount, the other side wins. This is a team project with Master
      students from the Art and Design Department, and this is my first game
      developed using Unity Engine. We learned and used particle system built
      inside the engine and developed the mechanics using scripts.
      <br />
      <br />
      Source code: <Link
        className="inline-flex"
        href="https://github.com/OrionQ/PaintWar"
        newTab
        underline>Github link</Link
      >
    </p>
    <Image
      class="rounded-2xl m-1 object-cover"
      src={paintWarThumbnail}
      alt="Paint War project's thumbnail"
      width={250}
    />
  </Disclosure>
  <Disclosure
    tag="Unity"
    title="Outlaw Machinima"
    className="flex flex-col lg:flex-row gap-4 justify-between p-6"
  >
    <p>
      This is a machinima Project using Unity Engine. I worked this project with
      another student in the Art and Design Design department. Based on the true
      story of the infamous Zodiac Killer, we developed a imaginary scene that
      as a reporter(first-person-view), you accidentally ran into a suspicious
      house that might related to the zodiac killer. As you explored the house,
      you starts to discover the strangeness of the house.
      <br />
      <br />
      See this very fun short film: <Link
        className="inline-flex"
        href="https://drive.google.com/file/d/1_N_1_JqRP87eo3RTBeIsEq5y_kW_FXNt/view?usp=sharing"
        newTab
        underline>Google drive link</Link
      >
    </p>
    <Image
      class="rounded-2xl m-1 object-cover"
      src={outlawThumbnail}
      alt="Outlaw Machinima project's thumbnail"
      width={250}
    />
  </Disclosure>
</div>
