---
import { Icon } from "astro-icon/components";

const {
  className,
  href,
  newTab = false,
  title,
  description,
  style,
} = Astro.props;
---

<a
  class:list={["clickable-card", `${className}`]}
  href={href}
  style={style}
  target={newTab ? "_blank" : "_self"}
  rel={newTab ? "noopener noreferrer" : undefined}
>
  <slot class="clickable-card-image" name="image" />
  <div class="clickable-card-overlay"></div>
  <div class="clickable-card-title">
    {
      title && (
        <h3 class="font-light text-2xl pb-2 pr-2 flex items-center gap-2">
          {title} {newTab && <Icon name="up-right-from-square" />}
        </h3>
      )
    }
    {description && <p>{description}</p>}
    <slot name="tags" />
  </div>
</a>
<style>
  .clickable-card {
    background-color: rgba(var(--floating-color), 1);
    border-radius: 1.75rem;
    box-shadow: 0 1px 4px rgba(var(--shadow-color));
    display: flex;
    inline-size: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.15s ease-in-out;
  }

  .clickable-card:focus-visible {
    outline: 5px dashed rgba(var(--secondary-color), 1);
  }

  .clickable-card:focus-visible .clickable-card-overlay {
    background: rgba(var(--tint-color), 0.4);
  }

  .clickable-card:hover {
    box-shadow: 0 1px 4px rgba(var(--shadow-color));
    transform: scale(1.005);
  }

  .clickable-card:hover .clickable-card-overlay {
    background: rgba(var(--tint-color), 0.4);
  }

  .clickable-card-image {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .clickable-card-overlay {
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
    pointer-events: none;
    position: absolute;
    transition: background 0.2s ease-in-out;
  }

  .clickable-card-title {
    color: #ffffff;
    inset-block-end: 0;
    inset-inline-start: 0;
    padding: 2rem;
    position: absolute;
    width: 100%;
  }

  @media (prefers-contrast: more) {
    .card {
      border: 5px solid rgba(var(--foreground), 1);
    }
  }
</style>
