---
import { Icon } from "astro-icon/components";

const {
  className,
  href,
  newTab = false,
  title,
  description,
  style,
} = Astro.props;
---

<a
  class:list={["clickable-card", `${className}`]}
  href={href}
  style={style}
  target={newTab ? "_blank" : "_self"}
  rel={newTab ? "noopener noreferrer" : undefined}
>
  <div class="clickable-card-image-wrapper">
    <slot class="clickable-card-image" name="image" />
  </div>
  <div class="clickable-card-content">
    <div class="clickable-card-text">
      {
        title && (
          <h3 class="clickable-card-title text-2xl pb-2 flex items-center gap-2">
            {title}
          </h3>
        )
      }
      {
        description && (
          <p class="clickable-card-description text-base opacity-90">
            {description}
          </p>
        )
      }
      <div class="clickable-card-tags">
        <slot name="tags" />
      </div>
    </div>
    <span class="clickable-card-cta"
      >View project {newTab ? <Icon name="up-right-from-square" /> : <Icon name="arrow-right-long" />}</span
    >
  </div>
</a>
