---
import { Icon } from "astro-icon/components";
import Tag from "../tag/Tag.astro";

const { className, company, date, open = false, tag, title } = Astro.props;
---

<details class="disclosure group" open={open}>
  <summary class="summary">
    <div
      class="summary-inner flex grow justify-between items-center gap-4 min-w-0"
    >
      <div class="flex gap-4 items-center">
        <div class="flex flex-col">
          <h3 class="font-normal text-2xl">{title}</h3>
          {
            company && (
              <h4 class="text-[rgb(var(--primary-color))]">@ {company}</h4>
            )
          }
        </div>
        {tag && <Tag className="text-sm shrink-0">{tag}</Tag>}
      </div>
      {date && <p class="flex-wrap text-end font-light">{date}</p>}
    </div>
    <Icon name="chevron-down" size={20} class="chevron-down-icon" aria-hidden />
    <Icon name="chevron-up" size={20} class="chevron-up-icon" aria-hidden />
  </summary>
  <div class={`${className || ""} content`}>
    <slot />
  </div>
</details>
